.mainFrame {
    border-style: solid;
    border-color: darkblue !important;
    background-color: lightcyan !important;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1vh;
    height: 97%;
    overflow-y: scroll;
}
.header {
    border-style: solid;
    border-radius: 2vh;
    display: flex;
}
.logoPictures {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
}
.logo {
    height: 5vh;
}
.container {
    padding: 1vh;
    margin-right: 0;
    border-color: cadetblue;
    background-color: white;
}
.page {
    display: flex;
    flex-direction: row;
    margin-right: 0;
    flex-wrap: wrap;
    align-content: space-between;
    background-color: lightcyan !important;
}
.frame {
    border-style: solid;
    border-radius: 4vh;
    display: flex;
    flex-direction: column;
    margin: 1vh;
    flex-grow: 1;
}
.hidden {
    display: none;
}
.sidebar {
    margin-right: 0;
    display: flex;
    justify-content: center;
    background-color: lightblue !important;
    width: 10%;
    max-width: 10vw;
}
.allItems {
    border-style: solid;
    font-size: large;
    margin: 1vh;
    height: 60vh;
    flex-grow: 1;
    visibility: hidden;
}
.specificItems {
    border-style: solid;
    font-size: large;
    margin: 1vh;
}
.remove {
    background-color: lightcoral !important;
}
.itemsContainer {
    width: 60%;
}
.button {
    background-image: url("./Resources/3d-button-png-.png");
    height: 5vh;
    background-size:100% 100%;
    margin: 1vh;
}
.deleteBtn {
    margin-right: 30vw;
    margin-top: 25vh;
    height: 5vh;
    width: 20vw;
    background-color: lightblue;
    font-weight: bolder;
}
.buttonText {
    margin: auto;
    display: flex;
    justify-content: center;
    padding-top: 1vh;
}
table {
    border-collapse: collapse;
    text-align: center;
}
table {
    width: 100%;
    background-color: lightcyan;
}
th {
    height: 5vh;
    background-color: lightblue;
}
td {
    position: relative;
    height: 3vh;
}
.show {
    visibility: visible !important;
}
th, td {
    border: 1px solid cadetblue;
}
.hovered {
    background-color: lightskyblue !important;
}
tr.strikeout td:before {
    content: " ";
    position: absolute;
    top: 50%;
    left: 0;
    border-bottom: 1px solid rgb(99, 2, 2);
    width: 100%;
}
#clock { 
    border-style: solid;
    border-color: lightblue;
    background-color: lightcyan;
    margin: 5;
    width: 5vw;
    justify-content: center;
    padding-top: 1vh;

    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
}
#clockButton { 
    border-style: solid;
    border-color: lightblue;
    background-color: lightcyan;
    margin: 5;
    justify-content: center;
    padding-top: 1vh;
    background-color: lightgreen;
    border-radius: 20px;
    overflow: auto; 
}
body {
    direction: rtl;
    margin: 0;
}
li {
    padding-top: 1vh;
}