.MainFrame {
    border-style: solid;
    border-color: darkblue !important;
    background-color: lightcyan !important;
    direction: ltr;
    font-family: Arial, Helvetica, sans-serif;
}
.SearchBar {
    border-style: solid;
    border-radius: 15px;
    display: flex;
}
.Greetings {
    flex-grow: 1;
}
.Logo {
    height: 35px;
}
.Container {
    padding: 1vh;
    margin-right: 0;
    border-color: cadetblue;
    background-color: white;
}
.Page {
    display: flex;
    flex-direction: row;
    margin-right: 0;
    flex-wrap: wrap;
    align-content: space-between;
    background-color: lightcyan !important;
}
.Frame {
    border-style: solid;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    margin: 1vh;
    flex-grow: 1;
}
.Toolbar {
    width: 8vw;
    margin-right: 0;
    display: flex;
    justify-content: center;
    background-color: lightblue !important;
}
.AllItems {
    border-style: solid;
    width: 65vw;
    height: 60vh;
    font-size: large;
    padding-right: 15vw;
    margin: 1vh;
}
.SpecificItems {
    border-style: solid;
    width: 65vw;
    height: 15vh;
    font-size: large;
    padding-right: 15vw;
    margin: 1vh;
}
.Button {
    background-image: url("./Resources/3d-button-png-.png");
    height: 5vh;
    background-size:100% 100%;
    margin: 1vh;
    color: white;
}
.ButtonText {
    margin: auto;
    display: flex;
    justify-content: center;
    padding-top: 1vh;
}
h1 {
    direction: rtl !important;
}
ul {
    direction: rtl !important;
}
li {
    padding-top: 1vh;
}
p {
    direction: rtl;
}